faiss-cpu==1.10.0
groq==0.20.0
langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.49
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.7
langgraph==0.3.22
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.60
pypdf==5.4.0
sentence-transformers==3.4.1
numpy==2.0.2
pandas==2.2.2
instructor==1.7.8